body{
    padding: 0 12.5%;
}

.txt-heading{    
	padding: 10px 10px;
    border-radius: 2px;
    color: #FFF;
    background: #6aadf1;
	margin-bottom:10px;
}

.btnAddAction{    
    background-color: #eb9e4f;
    border: 0;
    padding: 3px 10px;
    color: #ffffff;
    margin-left: 2px;
    border-radius: 2px;
}

.product-item {	
    float:left;	
    background: #ffffff;
    margin:15px 10px;	
    padding:5px;
    border:#CCC 1px solid;
    border-radius:4px;
}

.product-item div{
    text-align:center;	
    margin:10px;
}

.product-price {    
	color: #005dbb;
    font-weight: 600;
}

.product-image {
    height:100px;
    background-color:#FFF;
}

.clear-float{
    clear:both;
}

.orderBtn {
    float: right;
}